.background{
    background-color:blueviolet;
    
}
.btn:hover{
    background-color: blueviolet;
}
.card-title{
    height: 100px;
}

.card-text{
    height: 200px;
}
.card-source{
    padding: 5px;
    background-color: rgb(228, 249, 249);
    font-size: 10px;
    text-align: center;
}
